<a href="#/add-recipe">Add a New recipe</a>
Search: <input ng-model="query">
<div ng-repeat="recipe in recipes">
    <div class="container-fluid">
        <div>
           <a href="#/recipes/{{ recipe.id }}">
               <div class="panel panel-default add-recipe cards">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div>
                            {{ recipe.name }}
                        </div>
                        <div>
                            {{ recipe.photo }}
                        </div>

                        <div>
                            <p>{{ recipe.tag }}</p>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>{{ recipe.description }}</p>
                    </div>

                </div>
            </div></a>
        </div>
    </div>
</div>