/* app css stylesheet */
/*.menu {*/
  /*list-style: none;*/
  /*border-bottom: 0.1em solid black;*/
  /*margin-bottom: 2em;*/
  /*padding: 0 0 0.5em;*/
  /*text-align: center;*/
/*}*/

/*.menu:before {*/
  /*content: "[";*/
/*}*/

/*.menu:after {*/
  /*content: "]";*/
/*}*/

/*.menu > li {*/
  /*display: inline;*/
/*}*/

/*.menu > li:before {*/
  /*content: "|";*/
  /*padding-right: 0.3em;*/
/*}*/

/*.menu > li:nth-child(1):before {*/
  /*content: "";*/
  /*padding: 0;*/
/*}*/

.full-width-textarea {
  width: 100%;
  background-color: inherit;
  color: white;
  border:inherit;
}
.color-formatting {
  background-color: inherit;
  border: inherit;
  color: white;
}
.expandingArea {
  position: relative;
    height: 200px;
}

input:focus, textarea:focus {
  outline: none;
}
.panel-default > .panel-heading {
  color: #ffffff;
}
.theme-invert a {
color: white;
}

.recipeimg {
  height: 100%;
  width: 100%;
}
.btn-xs, .btn-group-xs > .btn {
  padding: -1px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.xsearch {
  color: black;
}

.move-right {
padding-left: 15px;
}

