<div class="container-fluid">
    <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-default add-recipe cards">
            <div class="panel-heading">
                <h3 class="panel-title row">
                    <div>
                        <label class="col-lg-6">
                            <input class="color-formatting" id="recipe-name" ng-model="recipe.name"
                                   placeholder="Title of Recipe"/>
                        </label>
                        <label class="col-lg-6">
                            <form ng-submit="addTagToRecipe(tagName)">
                                <input class="color-formatting" ng-model="tagName" placeholder="Category">
                            </form>
                        </label>
                        <ul>
                            <li ng-repeat="tag in recipe.tags">{{ tag.name }}</li>
                        </ul>
                    </div>

                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <textarea class="full-width-textarea move-right" ng-model="recipe.description"
                                  placeholder="Description"></textarea>
                    </div>
                    <div class="row">
                        <label class="col-lg-6">
                            <form ng-submit="addIngredientToRecipe(ingredientName)" ng-keypress="13">
                                <div class="add-recipe-labels">
                                </div>
                                <input class="color-formatting" ng-model="ingredientName" placeholder="Ingredients">
                            </form>
                            <ul class="shadow">
                                <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}
                                </li>
                            </ul>
                        </label>
                        <label class="col-lg-6">
                                <textarea class="full-width-textarea expandingArea" ng-model="recipe.directions"
                                          placeholder="Directions"></textarea>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-4">
                <button ng-click="addRecipe()" class="btn btn-default">Save New Recipe</button>
            </div>
        </div>
    </div>
</div>
</div>
