
<div class="container-fluid">
    <div>
        <label class="add-recipe-labels">Recipe Name
            <br>
            <input ng-model="recipe.name" placeholder="Name">
        </label>
    </div>



    <div>
        <label class="add-recipe-labels">Recipe Description
        <br>
        <textarea ng-model="recipe.description" placeholder="Description"></textarea>
        </label>
    </div>


    <div>
        <label class="add-recipe-labels">Recipe Directions
        <br>
        <textarea ng-model="recipe.directions" placeholder="Directions"></textarea>
        </label>
    </div>


    <div>
        <label>
            <form ng-submit="addIngredientToRecipe(ingredientName)" ng-keypress="13">
            <div class="add-recipe-labels">Ingredients
            <br>
            </div>
            <input ng-model="ingredientName" placeholder="Tomatoes, Oregano, etc.">
        <br>
        <input type ="submit" value="Add to Recipe" class="btn btn-default"/>
            </form>
        </label>
        <p>Your ingredients:</p>
    <ul class="shadow">
        <li ng-repeat="ingredient in recipe.ingredients">{{ ingredient.name }}</li>
    </ul>
    </div>


    <div>
        <label>
            <form ng-submit="addTagToRecipe(tagName)">
            <div>Tags
            <br>
            </div>
            <input ng-model="tagName">
            <br>
            <input type ="submit" value="Add to Tags" class="btn btn-default"/>
            </form>
        </label>
        <p>Your tags:</p>
        <ul>
            <li ng-repeat="tag in recipe.tags">{{ tag.name }}</li>
        </ul>
    </div>


    </div>
    <div class="row">
        <div class="col-lg-12">
        <button ng-click="addRecipe()" class="btn btn-default">Save New Recipe</button>
        </div>

</div>
